<!--String interpolation and property binding--> 
<ul>
    <li *ngFor="let name of name; let i = index">
      Name: {{ name }}, Age: {{ Age[i] }}
    </li>
  </ul> 
 
<img [src]="imageUrl" alt="dog-image"/>   <br>
 
<button disabled="{{isDisable}}">Disabled using string interpolation</button>  <br>
<button [disabled]="isDisable">Disabled using property binding</button> <br>
 
 
<!--Class binding--> 
<button [class.active]="isActive" [class.in-active]="!isActive" (click)="changeColor()">class binding</button> <br>
<button [class.apple]="fruitName=='apple'">Style binding</button> <br>
 
<!--Style binding--> 
<button [style.backgroundColor]="styleVar ? 'green':'orange'" (click)="changeBackground()">click me</button> 
 
<!--Event Binding--> 
<button (click)="clickedButton()" (mouseover)="mouseHover()">Event Binding</button> 
<input type="text" (keyup)="eneterdKey()"/> 
<input type="text" (keyup)="enterKey($event)"/> 
 
<!--Template Variable--> 
<br> 
<input type="text" (keyup.enter)="keyenter(user)" #user/> 
 
<!--Two way databinding--> 
<input type="text" [value]="username" #username1 (keyup.enter)="updateUsername(username1.value)"/> 
<br> 
<input type="text" [(ngModel)]="greetingText" /> <br>
<p>Hello {{greetingText}}</p><br>  

 <!--Directives--> 
 <!--Structural Directives--> 
<h3 *ngIf="booleanValue">{{name1}}</h3> 
@if(booleanValue){  
  <p>{{name1}}</p>

} 
 
<!--multiple ngif-else conditions--> 
<h3 *ngIf="isAdmin; else membermessage" >Welcome Admin</h3> 
<ng-template #membermessage>
<h3 *ngIf="isMemeber">Welcome Memeber</h3>  
</ng-template>
